.novedades .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.novedades .articulos {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    padding: 12px;
    text-align: center;
    transition: box-shadow 0.2s;
    justify-content: space-around;
}

.articulo{
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
}

 .articulo img {
    height: 100px;
    border-radius: 8px;
}

 .articulo h3 {
    font-size: 1rem;
    margin: 8px 0 4px 0;
}

 .articulo p {
    font-size: 0.95rem;
    margin: 2px 0;
}